<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.changjoo.ohyeah">

    <!-- 인터넷 접근 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 문자수신허용 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <!-- 화면 깨우기 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 윈도우에 띄우기 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation = "portrait"
        tools:replace="android:icon">
        <receiver
            android:name=".receiver.CallAndSmsReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 등록된 필터만 수신한다. -->
            <intent-filter>

                <!-- 문자 수신 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>



        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- 네이버 아이디로 로그인에서 사용하는 액티비티를 등록 -->
        <activity
            android:screenOrientation="portrait"
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <activity
            android:screenOrientation="portrait"
            android:name=".StartActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.LoginActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.JoinActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FixSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.BudgetSettingActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.PurposeSetActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.NestSettingActivity"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".terms.Terms1Activity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".terms.Terms2Activity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ModifySettingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ModifyPurposeActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ModifyFixActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.SetActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ChangePwdActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.Widget_SettingActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.WidgetSettingActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.SendEmailActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FindPwdActivity" />


    </application>

</manifest>