<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gogolab.ohyeah">

    <!-- 인터넷 접근 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 문자수신허용 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <!-- 화면 깨우기 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 윈도우에 띄우기 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:name="com.gogolab.ohyeah.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"

        tools:replace="android:icon,android:allowBackup">
        <receiver
            android:name="com.gogolab.ohyeah.receiver.CallAndSmsReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 등록된 필터만 수신한다. -->
            <intent-filter>

                <!-- 문자 수신 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <service android:name="com.gogolab.ohyeah.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.gogolab.ohyeah.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.gogolab.ohyeah.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- 네이버 아이디로 로그인에서 사용하는 액티비티를 등록 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gogolab.ohyeah.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.gogolab.ohyeah.ui.FixSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="com.gogolab.ohyeah.ui.BudgetSettingActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.gogolab.ohyeah.ui.PurposeSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.NestSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.gogolab.ohyeah.terms.Terms1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.terms.Terms2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.ModifySettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.gogolab.ohyeah.ui.ModifyPurposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.ModifyFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.gogolab.ohyeah.ui.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.Widget_SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.WidgetSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gogolab.ohyeah.ui.SendEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gogolab.ohyeah.ui.FindPwdActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>